.border{
    border: solid 2px red;
    display: flex;
    flex-wrap: wrap;
    width: 303px;
}

.row1{
    display: flex;
}

.row2{
    display: flex;

}

.item1{
    width: 100px;
    height: 200px;
    background-color: yellow;
}

.item2{
    background-color: cyan;
    width: 100px;
    height: 100px;
}

.item3{
    background-color: yellowgreen;
    width: 200px;
    height: 100px;
}